:root {
    --primary-color: rgb(84, 103, 160);
    --text-color: rgb(255, 255, 255);
    --border-color: rgb(0,0,0);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text-color);
    /* background-color: rgba(65, 63, 63, 0.867); */
    
}

/* Header styling start */
header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    background-color: var(--primary-color);
    border-bottom: 5px solid var(--border-color);
    /* background-image: url("../images/coding-background-image.jpg"); */
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

a {
    text-decoration: none;
}

header nav ul {
    display: flex;
}

header nav ul li {
    display: flex;
    padding: 20px;
}
/* Header styling end */

/* Hero styling start */
/* .hero {
    display: flex;
    padding: 20px;
    justify-content: space-between;
} */
/* Hero styling end */

/* Main content styling start */
main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 50px;
    background-image: url("../images/background-image.jpg");
    background-size: cover;
    text-align: center;
}

main div {
    padding: 15px 0 15px 0;
}

main h2 {
    padding: 0 0 10px 0;
    /* text-align: center; */
}

.content {
    background-color: rgba(63, 60, 60, 100%);
    border-radius: 30px;
    border: 5px solid var(--border-color);
}


.cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
}

.primary-card {
    padding-bottom: 15px;
}

.primary-card img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 30px;
    border: 5px solid var(--border-color);
}

.secondary-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    /* padding: 20px; */
    
}

.secondary-card h4 {
    padding: 7.5px 0 7.5px 0;
}

.secondary-card img {
    width: 300px;
    height: 250px;
    object-fit: cover;
    margin: 30px 30px 10px 30px;
    border-radius: 30px;
    border: 5px solid var(--border-color);

}

.resume {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.resume a {
    padding-top: 10px;
}

.contact {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
}

.contact p {
    padding-bottom: 10px;
}

/* Main content styling end */

/* Footer styling start */
footer {
    padding: 10px;
    border-top: 5px solid var(--border-color);
    background-color: var(--primary-color);
    text-align: center;
}

footer nav {
    padding-top: 5px;
}
/* Footer styling end */

/* Media Query Start */
/* For smaller desktops screens and smaller */
@media screen and (max-width: 980px) {
    /* Insert formatting here */
}

/* For tablets and smaller */
@media screen and (max-width: 768px) {
    /* Insert formatting here */
}

/* For mobile phones and smaller */
@media screen and (max-width: 575px) {
    /* Insert formatting here */
}